CMakeLists.txt linguist-generated
*.cmake linguist-generated
Makefile linguist-generated
build/ linguist-generated
cmake-build-debug/ linguist-generated
CMakeFiles/** linguist-generated
Testing/ linguist-generated
